body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #212842;
    padding: 10px 30px;
    position: sticky;
    z-index: 100;
    border-bottom-color: #212842;
}

.nav-kiri {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.nav-kanan {
    display: flex;
    list-style: none;
    display: flex;
    gap: 20px;
    color: #ffffff;
}

.nav-kanan a {
    color: #ffffff;
}

.Home {
    display: flex;
    align-items: center;
    background-color: #f0e7d5;
    padding: 40px 10%;
}

.Home {
    display: flex;
    align-items: center;
    background-color: #f0e7d5;
 }

.Home-kiri {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000;
}

.Home-kiri p {
    color: #000000;
    max-width: 600px;
    line-height: 1.6;
}

.Home-kanan {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    overflow: hidden;
}

a {
    color: #000000;
    text-decoration: none;
}

.Home a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1C1410;
    padding: 10px 20px;
    width: fit-content;
    align-self: flex-start;
    border-radius: 10px;

}

.img {
    display: flex;
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 40px;

    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212842;
    padding: 10px;
    color: #ffffff; 
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #212842;
}

.About h1,
.About p {
    color: #f0e7d5;
}

.About div a {
    text-decoration: none;
    color: #000000;
    background-color: #f0e7d5;
    padding: 10px 10px;
    border-radius: 5px;
}